@model ControleUsuario.Thera.UI.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="col-md-12 mt-4" style="background-color:red; height:50px">
    <div class="d-flex flex-row">
        <div class="col-3 ml-auto logo-dash">
            <img src="@Url.Content("~/Content/Images/logo.svg")" alt="Logo" />
        </div>
        <div class="col-2 mt-2">
            <span class="fw-bolder text-white">tesatando</span>
        </div>
        <div class="col-7">
            <button class="btn btn-login btn-lg">
                <span id="btn-span">LOGIN</span>
            </button>
        </div>
    </div>
</div>
